<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>

    <div class="container margin-top-20">
      <div class="row">
        <div class="col s12">
          <div class="card horizontal">


            <form method="POST" action="/<%= entry.id %>/edit?_method=put">
              <div class="card-stacked">
                <div class="card-content">
                    <div class="input-field">
                    <input name="entry[title]" type="text" placeholder="Title" value="<%= entry.title %>" />
                  </div>

                  <div class="input-field">
                    <textarea name="entry[text]"
                    placeholder="Text" class="materialize-textarea"><%= entry.entry %></textarea>
                  </div>

                  <div class="input-field">
                    <input name="entry[age]" type="text" placeholder="age" value="<%= entry.age %>" />
                  </div>

                  <div class="input-field">
                    <input name="entry[image]" type="text" placeholder="pic image" value="<%= entry.image %>" />
                  </div>
                  <div class="input-field">
                    <input type="hidden" name="entry[id]" value="<%= entry.id %>">
                  </div>
                </div>
                <div class="card-action">
                  <button class="waves-effect waves-light btn">Submit Changes</button>
                </div>
              </div>
            </form>
            <button data-id='<%= entry.id %>' type="button" id="delete-button">Delete Post</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
