<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>

    <%# nav bar%>
    <div class="col s12 m6 card-panel red darken-1 responsive-img" id="top-bar">
      <h5 id="logo"><span class="hoverable"><a id="logoanchor" href="/">wikiLife</a></span></h5>
    </div>

    <%# Home button%>
    <a class="btn-floating btn-large waves-effect waves-light red" id="homeEdit" href="/">Home</a>

    <h4 id="editHeader">Edit Your Post</h4>

    <div class="container margin-top-20">
      <div class="row">
        <div id="moveForm" class="col s12">
          <div class="card horizontal">
            <form id="editForm" method="POST" action="/<%= entry.id %>/edit?_method=put">
              <div class="card-stacked">
                <div id="editCard" class="card-content">
                    <div class="input-field">
                    <input name="entry[title]" type="text" placeholder="Title" value="<%= entry.title %>" />
                  </div>

                  <div class="input-field">
                    <textarea name="entry[text]"
                    placeholder="Text" class="materialize-textarea"><%= entry.entry %></textarea>
                  </div>

                  <div class="input-field">
                    <input name="entry[age]" type="text" placeholder="age" value="<%= entry.age %>" />
                  </div>

                  <div class="input-field">
                    <input name="entry[image]" type="text" placeholder="pic image" value="<%= entry.image %>" />
                  </div>
                  <div class="input-field">
                    <input type="hidden" name="entry[id]" value="<%= entry.id %>">
                  </div>
                </div>

                <div class="card-action">
                  <button id="editSubmit" class="waves-effect waves-light btn">Submit Changes</button>

                  <a data-id='<%= entry.id %>'  class="btn-floating btn-large waves-effect waves-light red" id="delete-button" href="/"><i class="material-icons">delete</i>
                  </a>
                </div>

              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
