<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>
    <p>
    <%= entry.title %>
    </p>
    <img src=<%= entry.image %> />
    <p>
    <%= entry.entry %>
    </p>
    <p>
    <%= entry.age %>
    </p>
    <p>
    <%= entry.date_created %>
    </p>
  </body>
</html>
