<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>

    <%# nav bar%>
    <div class="col s12 m6 card-panel red darken-1 responsive-img" id="top-bar">
      <h5 id="logo"><span class="hoverable"><a id="logoanchor" href="/">wikiLife</a></span></h5>
    </div>

    <%# age scale%>
    <div id="center-age">
      <p id="label">Select Age or Explore All</p>
    </div>
    <div class="range-field col s3">
      <input type="range" id="age_scale" min="1" max="100" name="entry[id]" />
    </div>

    <%# new post button%>
    <a class="waves-effect waves-light btn scale-out" id="newPostLink" href="/new">new post</a>

    <%# edit button%>
    <button class="waves-effect waves-light btn scale-out" id="editButton" href="/new">edit posts</button>

    <%# posts%>
    <div class="row">
    <% entry.forEach(function(enter) { %>
      <a href="<%= enter.id %>">

      <div id="homepageContainer">
        <div class="cardContainer">
            <div class="col s4">
              <div class="card" href="<%= enter.id %>">
                <div class="card-image">
                  <img src="<%= enter.image %>">

                  <div class="editHide">
                  <a href="<%= enter.id %>/edit" class="btn-floating halfway-fab waves-effect waves-light red material-icons"><i class="material-icons">mode_edit</i></a>
                  </div>
                  <span class="card-title"><%= enter.title %></span>
                </div>

                <div class="card-content">
                <p id="description">
                Article
                </p>
                  <p><%= enter.entry%></p>
                </div>
                <div class="card-action">
                  <a href="/?age=<%= enter.age %>">Age: <%= enter.age %></a>
                  <p>
                  Created:
                  <%= enter.date_created %>
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>

      </a>
     <% }); %>
   </div>


  </body>
</html>
