<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>

    <%# nav bar%>
    <div class="col s12 m6 card-panel red darken-1 responsive-img" id="top-bar">
      <h5 id="logo"><span class="hoverable"><a id="logoanchor" href="/">wikiLife</a></span></h5>
    </div>

    <%# age scale%>
    <div id="center-age">
      <p id="label">Take A Walk Down Memory Lane</p>
    </div>
    <div class="range-field col s3">
      <input type="range" id="age_scale" min="1" max="100" name="entry[id]" />
    </div>

    <%# new post button%>
    <a class="waves-effect waves-light btn scale-out" id="newPostLink" href="/new">new post</a>

    <%# posts%>
    <% entry.forEach(function(enter) { %>
       <a href="<%= enter.id %>">
       <div class="container card-panel hoverable">
         <div id="content-container">
           <div id="image-container">
             <img class="responsive-img" id="main-images" src=<%= enter.image %> />
           </div>
         <p>
           <%= enter.title %>
         </p>
         <p>
           <%= enter.entry %>
         </p>
         <p>
           <%= enter.age %>
         </p>
         <p>
           <%= enter.date_created %>
         </p>
         </div>
       </div>
       </a>
     <% }); %>

  </body>
</html>
