<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head.ejs %>
  </head>
  <body>

    <%# nav bar%>
    <div class="col s12 m6 card-panel red darken-1 responsive-img" id="top-bar">
      <h5 id="logo"><span class="hoverable"><a id="logoanchor" href="/">wikiLife</a></span></h5>
    </div>

    <%# age scale%>
    <div id="center-age">
      <p id="label">Select Age or Explore All</p>
    </div>
    <div class="range-field col s3">
      <input type="range" id="age_scale" min="1" max="100" name="entry[id]" />
    </div>

    <%# new post button%>
    <a class="waves-effect waves-light btn scale-out" id="newPostLink" href="/new">new post</a>

    <%# edit button%>
    <button class="waves-effect waves-light btn scale-out" id="editButton" href="/new">edit posts</button>

    <%# posts%>
    <div class="row">
    <% entry.forEach(function(enter) { %>
      <div id="homepageContainer">
        <div class="cardContainer">
            <div class="col s4 card-reveal">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="<%= enter.image %>">
              </div>

              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4"><%= enter.title %><i class="material-icons right editHide"><a href="<%= enter.id %>/edit">mode_edit</a></i></span>
                <p><a id="ageBoox" href="/?age=<%= enter.age %>">Age: <%= enter.age %></a></p>
                <p>
                Created:
                <%= enter.date_created %>
                </p>
              </div>

              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><%= enter.title %></span>
                <p><%= enter.entry %></p>
                <a id="readMore" href="<%= enter.id %>">Read More</a><i id="editReveal" class="material-icons right"><a href="<%= enter.id %>/edit">mode_edit</a></i>
              </div>
</div>
          </div>
        </div>
      </div>

      </a>
     <% }); %>
   </div>


  </body>
</html>
